= form_for @employee do |f|
  - if @employee.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employee.errors.full_messages.each do |msg|
          %li
            = msg
  .row
    .large-12.columns
      %fieldset
        %legend Personal Info
        = f.label :first_name
        = f.text_field :employee_first_name

        = f.label :last_name
        = f.text_field :employee_last_name

        = f.label :phone
        = f.text_field :employee_phone

        = f.label :zipcode
        = f.text_field :employee_zipcode

        = f.label :email
        = f.email_field :employee_email

  .row
    .large-12.columns
      %fieldset
        %legend Professional Info
        = f.label :school
        = f.text_field :employee_school

        = f.label :experience_years
        = f.number_field :employee_experience_years
        = f.label :experience_months
        = f.number_field :employee_experience_months

        = f.label :license_number
        = f.text_field :employee_lic_number

        = f.label :qualifications
        = f.text_field :employee_qualifications

        = f.label :languages
        = f.text_field :employee_languages

  .row
    .large-12.columns
      %fieldset
        %legend Additional Info
        = f.label :self_introduction
        = f.text_area :employee_description

        = f.check_box :employee_transportation
        = f.label :transportation

  .row
    .large-12.columns
      = f.submit nil, :class => 'btn btn-primary', :id => "Submit"
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        employers_path, :class => 'btn btn-default'                  |
