= form_for @employee, builder: RequiredFormBuilder do |f|
  = render partial: "elements/import_linkedin"

  - if @employee.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employee.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend.fieldset-title Personal Info

    .row
      .col-xs-6
        = f.label :first_name
        = f.text_field :first_name
      .col-xs-6
        = f.label :last_name
        = f.text_field :last_name

    = f.label :phone
    = f.text_field :phone

    = f.label :email
    = f.email_field :email

  %fieldset
    %legend.fieldset-title Professional Info
    = f.label :degree
    = f.text_field :degree

    = f.label :school
    = f.text_field :school

    = f.label :years_of_experience
    = f.number_field :years_of_experience, in: 1...10

    = f.label :certifications
    = f.text_field :certifications

  %fieldset
    %legend.fieldset-title Transportation
    = f.label :zipcode
    = f.text_field :zipcode

    = f.label :distance_willing_to_travel
    = f.text_field :distance_to_travel

    = f.check_box :has_transportation
    = f.label :has_reliable_tranportation?, {:for => "employee_has_transportation"}

  %fieldset
    %legend.fieldset-title Additional Info
    = f.label :days_available
    = f.text_field :days_available

    = f.label :minimum_pay_per_hour
    = f.text_field :pay_per_hour

    = f.label :short_bio
    = f.text_area :bio, :rows => 5

  = f.submit nil, :class => 'btn btn-primary', :id => "Submit"
