= form_for @employee, builder: RequiredFormBuilder do |f|
  = render partial: "elements/import_linkedin"

  - if @employee.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employee.errors.full_messages.each do |msg|
          %li
            = msg

  %fieldset
    %legend.fieldset-title Personal Info

    .row
      .col-xs-6
        = f.label :first_name
        = f.text_field :employee_first_name
      .col-xs-6
        = f.label :last_name
        = f.text_field :employee_last_name

    = f.label :phone
    = f.text_field :employee_phone

    = f.label :email
    = f.email_field :employee_email

    = f.label :zipcode
    = f.text_field :employee_zipcode

    = f.check_box :employee_transportation
    = f.label :able_to_commute?, {:for => "employee_employee_transportation"}

  %fieldset
    %legend.fieldset-title Professional Info
    = f.label :school
    = f.text_field :employee_school

    .row
      .col-xs-6
        = f.label :experience_years
        = f.number_field :employee_experience_years, in: 1...10
      .col-xs-6
        = f.label :experience_months
        = f.number_field :employee_experience_months, in: 0...12

    = f.label :license_number
    = f.text_field :employee_lic_number

    = f.label :qualifications
    = f.text_field :employee_qualifications

    = f.label :languages
    = f.text_field :employee_languages

  %fieldset
    %legend.fieldset-title Additional Info
    = f.label :self_introduction
    = f.text_area :employee_description

  = f.submit nil, :class => 'btn btn-primary', :id => "Submit"
