%body#page-top.landing
  %nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.page-scroll{:href => "#page-top"} Staffolution
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %a.page-scroll{:href => "#about"} About
          %li
            %a.page-scroll{:href => "#services"} How it works
          - if user_signed_in?
            %li
              %a.page-scroll{:href => "/user/dashboard"} Dashboard
          - else
            %li
              %a.page-scroll{:href => "/signup"} Sign up
            %li
              %a.page-scroll{:href => "/login"} Login
      / /.navbar-collapse
    / /.container-fluid
  %header
    .layer
    .header-content
      .header-content-inner
        %h1 On-demand jobs made simple with staffolution
        %hr
          %p Staffolution helps employers find contractors for on-demand jobs and connect contractors to related jobs.
          %a.btn.btn-primary.btn-xl.page-scroll{:href => "#about"} Find Out How
  %section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading We've got what you need!
          %hr.light
            %p.text-faded Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
            %a.btn.btn-default.btn-xl{:href => "/get-started"} Get Started!
  %section#services
    .container
      .row
        .col-lg-12.text-center
          %h2.section-heading At Your Service
          %hr.primary
    .container
      .row
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
            %h3 Sturdy Templates
            %p.text-muted Our templates are updated regularly so they don't break.
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary{"data-wow-delay" => ".1s"}
            %h3 Ready to Ship
            %p.text-muted You can use this theme as is, or you can make changes!
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary{"data-wow-delay" => ".2s"}
            %h3 Up to Date
            %p.text-muted We update dependencies to keep things fresh.
        .col-lg-3.col-md-6.text-center
          .service-box
            %i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary{"data-wow-delay" => ".3s"}
            %h3 Made with Love
            %p.text-muted You have to make your websites with love these days!
  %section#portfolio.no-padding
    .container-fluid
      .row.no-gutter
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/1.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/2.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/3.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/4.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/5.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
        .col-lg-4.col-sm-6
          %a.portfolio-box{:href => "#"}
            = image_tag "landing/portfolio/6.jpg", :class => "img-responsive"
            .portfolio-box-caption
              .portfolio-box-caption-content
                .project-category.text-faded
                  Category
                .project-name
                  Project Name
  %aside.bg-dark
    .container.text-center
      .call-to-action
        %h2 Free Download at Start Bootstrap!
        %a.btn.btn-default.btn-xl.wow.tada{:href => "#"} Download Now!
  %section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          %h2.section-heading Let's Get In Touch!
          %hr.primary
            %p Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!
        .col-lg-4.col-lg-offset-2.text-center
          %i.fa.fa-phone.fa-3x.wow.bounceIn
          %p 123-456-6789
        .col-lg-4.text-center
          %i.fa.fa-envelope-o.fa-3x.wow.bounceIn{"data-wow-delay" => ".1s"}
          %p
            %a{:href => "mailto:your-email@your-domain.com"} feedback@startbootstrap.com

:javascript
  $(document).ready(function() {
    'use strict';
    $('a.page-scroll').bind('click', function(event) {
      var $anchor;
      $anchor = $(this);
      $('html, body').stop().animate({
        scrollTop: $($anchor.attr('href')).offset().top - 50
      }, 1250, 'easeInOutExpo');
      event.preventDefault();
    });
    $('body').scrollspy({
      target: '.navbar-fixed-top',
      offset: 51
    });
    $('.navbar-collapse ul li a').click(function() {
      $('.navbar-toggle:visible').click();
    });
    $('h1').fitText(1.2, {
      minFontSize: '35px',
      maxFontSize: '65px'
    });
    $('#mainNav').affix({
      offset: {
        top: 100
      }
    });
    (new WOW).init();
  });