= form_for @application do |f|
  - if @application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@application.errors.count, "error")} prohibited this application from being saved:"
      %ul
        - @application.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :employee
    = f.text_field :employee
  .field
    = f.label :job
    = f.text_field :job
  .field
    = f.label :accepted
    = f.check_box :accepted
  .actions
    = f.submit 'Save'
