
- if !current_user.is_employer?
  %h1 Open applications

  %table{:style=>"border: 55px; width: 100%"}
  %thead
    %tr
      %th 
      %th 
      %th
      %th
      %th

  %tbody
    - Application.where(employee_id: current_user.employee.id).each do |app|
      %p
      %tr
        %td= link_to Job.find(app.job_id).name, Job.find(app.job_id)
        - if !app.accepted.nil?
          - if app.accepted
            %td Accepted
            %td
            %td
          - else
            %td Declined
            %td
            %td
          %td
        - else
          %td= "Currently In Progress"
          %td= link_to 'Accept', accept_app_path(id: app.id), :method => :patch
          %td= link_to 'Decline', decline_app_path(id: app.id), :method => :patch
          %td= app.accepted
