= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :employer
    = f.text_field :employer
  .field
    = f.label :employee
    = f.text_field :employee
  .field
    = f.label :address_line_1
    = f.text_field :address_line_1
  .field
    = f.label :address_line_2
    = f.text_field :address_line_2
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :zipcode
    = f.text_field :zipcode
  .field
    = f.label :compensation
    = f.text_field :compensation
  .field
    = f.label :position
    = f.text_field :position
  .actions
    = f.submit 'Save'
