%h1 Listing jobs

%table{:style=>"width: 100%;"}
  %thead
    %tr
      %th Name
      %th Employer
      %th City
      %th State
      %th Compensation
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.name
        %td= Employer.find(job.employer_id).name
        %td= job.city
        %td= job.state
        %td= job.compensation
        %td= link_to 'Show', job
        - if current_user.employer== job.employer
          %td= link_to 'Edit', edit_job_path(job)
          %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user.is_employer?
  = link_to 'New Job', new_job_path
