%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Description:
  = @job.description
%p
  %b Employer:
  = @job.employer.name
%p
  %b Address line 1:
  = @job.address_line_1
%p
  %b Address line 2:
  = @job.address_line_2
%p
  %b City:
  = @job.city
%p
  %b State:
  = @job.state
%p
  %b Zipcode:
  = @job.zipcode
%p
  %b Compensation:
  = @job.compensation
%p
  %b Position:
  = @job.position


= link_to 'Back', jobs_path
- if current_user.employer== @job.employer
  \|
  = link_to 'Edit', edit_job_path(@job)
  %p
    %b Current Applicants:
  %table{:style=>"border: 55px; width: 100%"}
  %thead
    %tr
      %th 
      %th 
      %th
      %th
      %th

  %tbody
    - @job.applications.each do |app|
      %p
      %tr
        %td= link_to Employee.find(app.employee_id).email, employee_path(app.employee_id)
        - if !app.accepted.nil?
          - if app.accepted
            %td Accepted
            %td
            %td
          - else
            %td Declined
            %td
            %td
          %td
        - else
          %td= "Currently In Progress"
          %td= link_to 'Accept', accept_app_path(id: app.id), :method => :patch
          %td= link_to 'Decline', decline_app_path(id: app.id), :method => :patch
          %td= app.accepted
- if !current_user.is_employer?
  %p
  -if Application.where(job_id: @job.id, employee_id: current_user.employee.id).count < 1
    = link_to "Apply to this job!", make_app_path(@job.id), :method => :post
  -else
    -@status = Application.where(job_id: @job.id, employee_id: current_user.employee.id).first.accepted
    -if @status.nil?
      Applied! Waiting on employer to respond.
    -else
      -if @status
        Application Accepted!
      -else
        Application Declined.

  
