%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Description:
  = @job.description
%p
  %b Employer:
  = @job.employer
%p
  %b Employee:
  = @job.employee
%p
  %b Address line 1:
  = @job.address_line_1
%p
  %b Address line 2:
  = @job.address_line_2
%p
  %b City:
  = @job.city
%p
  %b State:
  = @job.state
%p
  %b Zipcode:
  = @job.zipcode
%p
  %b Compensation:
  = @job.compensation
%p
  %b Position:
  = @job.position

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
