.page-header
  %h1= t ".title", default: "Login"
= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-user"}) do |f|
  .form-group
    = f.label :login, "Username or Email"
    = f.text_field :login, class: "text-field form-control", html: {spellcheck: "false"}
  .form-group
    = f.label :password
    = f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"}
  - if devise_mapping.rememberable?
    = f.label :remember_me do
      = f.check_box :remember_me
      Remember Me
  .form-group
    = f.submit "Login", class: "btn btn-primary"
  .form-group
    = render "devise/shared/links"
