= form_for @employer do |f|
  - if @employer.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employer.errors.full_messages.each do |msg|
          %li 
            = msg
  .row
    .large-12.columns
      %fieldset
        %legend Basic Info
        = f.label :company_name
        = f.text_field :employer_name
        
        = f.label :phone
        = f.text_field :employer_phone
        
        = f.label :website
        = f.text_field :employer_url
        
        = f.label :email
        = f.email_field :employer_email

  .row
    .large-12.columns
      %fieldset
        %legend Address
        = f.label :address_line_1
        = f.text_field :employer_street

        = f.label :address_line_2
        = f.text_field :employer_street

        .row
          .large-4.columns
            = f.label :city
            = f.text_field :employer_city
          .large-4.columns
            = f.label :state
            = f.text_field :employer_state
          .large-2.columns
            = f.label :zipcode
            = f.text_field :employer_zipcode

        .row
          .large-12.columns
            = f.label :office_type
            = f.text_area :employer_office_type

  .row
    .large-12.columns
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        employers_path, :class => 'btn btn-default'                  |
