= form_for @employer do |f|
  - if @employer.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employer.errors.full_messages.each do |msg|
          %li
            = msg
  %fieldset
    %legend.fieldset-title Basic Info
    .form-group
      = f.label :name, 'Company Name'
      = f.text_field :name
    .form-group
      = f.label :phone
      = f.text_field :phone
    .form-group
      = f.label :email
      = f.email_field :email
    .form-group
      = f.label :website
      .row.no-gutters
        .col-xs-1
          %span.prefix http://
        .col-xs-11
          = f.text_field :website

  %fieldset
    %legend.fieldset-title Address
    .form-group
      = f.label :address_line_1
      = f.text_field :address_line_1
    .form-group
      = f.label :address_line_2
      = f.text_field :address_line_2
    .form-group
      .row
        .col-xs-4
          = f.label :city
          = f.text_field :city
        .col-xs-4
          = f.label :state
          = f.text_field :state
        .col-xs-3.pull-right

          = f.label :zipcode
          = f.text_field :zipcode

    .form-group
      = f.label :office_type
      = f.text_area :office_type

  .form-group
    = f.submit nil, :class => 'btn btn-primary'
