= form_for @employer, builder: RequiredFormBuilder do |f|
  - if @employer.errors.any?
    #error_explanation
      .alert.alert-danger
        %ul
        - @employer.errors.full_messages.each do |msg|
          %li
            = msg
  %fieldset
    %legend.fieldset-title Basic Info
    .form-group
      = f.label :name, 'Company Name'
      = f.text_field :name
    .form-group
      = f.label :industry
      = f.text_field :industry
    .form-group
      = f.label :contact_person
      = f.text_field :contact_person
    .form-group
      = f.label :phone
      = f.text_field :phone
    .form-group
      = f.label :email
      = f.email_field :email
    .form-group
      = f.label :website
      .row.no-gutters
        .col-xs-1
          %span.prefix http://
        .col-xs-11
          = f.text_field :website

  = render partial: "addresses/address_fields", locals: {f: f}

  %fieldset
    %legend.fieldset-title Other Info
    .form-group
      = f.label :hours_of_operation
      = f.text_area :hours, :rows => 3
    .form-group
      = f.label :description
      = f.text_area :description, :rows => 3

  .form-group
    = f.submit nil, :class => 'btn btn-primary'
