-if current_user.is_employer
  %h1 Welcome to the Employer Home Page!
-else
  %h1 Welcome to the Worker Home Page!
%p
  = current_user.username
%p
  = link_to "View jobs", jobs_path
-if !current_user.is_employer
  %p
  = link_to "View current applications", applications_path
%p
  - if current_user.profile_created?
    = link_to "Update your profile", current_user.profile_edit_path
  - else
    = link_to "Complete your profile", current_user.profile_creation_path
