%fieldset
  %legend.fieldset-title Address
  .form-group
    = f.label :address_line_1, "Street Address"
    = f.text_field :address_line_1
  .form-group
    = f.label :address_line_2, "Apt, Suite, Bldg. (optional)"
    = f.text_field :address_line_2
  .form-group
    .row
      .col-xs-4
        = f.label :city
        = f.text_field :city
      .col-xs-4
        = f.label :state
        = f.select :state, options_for_select(us_states, f.object.state)
      .col-xs-3.pull-right
        = f.label :zipcode
        = f.text_field :zipcode
